{# templates/components/card.html #}

<!-- Using parameters to quickly add simple content -->
{% macro card(icon='', title='', description='', extra_classes='') %}

<div class="rounded-2xl flex flex-col font-[Poppins] bg-white"> <!-- Card -->
    <div class="flex flex-row justify-between items-center p-4"> <!-- 1st layer -->
        <div class="flex flex-row gap-x-2 items-center"> <!-- 2nd layer -->

            <!-- Content | These element will change based on content -->
            <img src="{{ icon }}" alt="{{ title }}">
            <p class="font-semibold text-base">{{ title }}</p>

        </div>

        <!-- Content | These element will change based on content -->
        <p class="font-semibold text-base">{{ description }}</p>

    </div>
    <div class="px-4">
        <div class="dashed-line"></div>
    </div>

    <!-- Content | These element will change based on content -->
    <!-- Don't touch it. This used to fill content in these area from call() in index.html -->
    {{ caller() }}

</div>
{% endmacro %}