{% from "components/dashed_line.html" import dashedLine %}

{% macro dashboardCard(icon='', alt='', title='', panelId = '', buttonId = '', icon2='', alt2='') %}
<div class="w-full mx-auto rounded-2xl shadow-2xl shadow-violet-200 bg-white">

    <!-- Header -->
    <div class="flex items-center justify-between p-4 cursor-pointer">
        <div class="flex items-center gap-2">
        
            <!-- Icon -->
            <div class="flex items-center justify-center text-white">

                <!-- You can replace 👤 with an SVG icon -->
                <img src="{{ icon }}" alt="{{ alt }}">

            </div>

            <!-- Title -->
            <h2 class="font-semibold text-gray-800 text-base">
                {{ title }}
            </h2>
            
        </div>

        <!-- Expand/Collapse Button -->
        <button
            type="button"
            onclick="togglePanel('{{ panelId }}', '{{ buttonId }}')"
            class="text-gray-500 hover:text-gray-700 transition-transform duration-200"
        >

            <!-- This can later change to another icon when collapsed -->
            <img 
                id="{{ buttonId }}" 
                class="duration-200 ease-in-out" 
                src="{{ icon2 }}" alt="{{ alt2 }}">

        </button>
    </div>

    <!-- Element below this comment will be hidden -->
    <div id="{{ panelId }}" class="max-h-0 overflow-hidden duration-200 ease-in-out">
        <!-- Divider -->
        {% call dashedLine() %} {% endcall %}
    
        <!-- Content -->
        <div class="p-4 text-sm text-gray-700 space-y-2">
    
            {{ caller() }}
    
        </div>
    </div>

</div>
{% endmacro %}
