{% extends "base.html" %}
{% from "components/card_image.html" import card_image %}
{% from "components/content_layout_text.html" import contentLayoutText %}

{% block content %}
<div class="flex flex-col gap-y-4">
    {% set download = dashboard_page['Download'] %}
    {% set arrow = dashboard_page['Arrow Exinpand'] %}
    {% set patient = dashboard_page['Patient Information'] %}
    {% set nebulizer = dashboard_page['Nebulizer Settings'] %}
    {% set medical_report = dashboard_page['Medical Report'] %}
    {% set about = dashboard_page['About'] %}

    {# This is patient card #}
    {% call card_image(patient.svg, patient.alt, patient.name) %}
    {% endcall %}

    {# This is nebulizer card #}
    {% call card_image(nebulizer.svg, nebulizer.alt, nebulizer.name) %}
    {% endcall %}

    {# This is medical_report card #}
    {% call card_image(medical_report.svg, medical_report.alt, medical_report.name) %}
    {% endcall %}

    {# This is about card #}
    {% call card_image(about.svg, about.alt, about.name) %}
    {% endcall %}

</div>
{% endblock %}