{% extends "base.html" %}
{% from "components/card.html" import card %}
{% from "components/content_layout_text.html" import contentLayoutText %}
{% from "components/content_layout.html" import contentLayout %}
{% from "components/input_field.html" import inputField %}
{% from "components/dashed_line.html" import dashedLine %}

{% block content %}
    {% set config = configuration_page['configuration'] %}
    {% call card(config.svg, config.name, 'Step 2') %}
        {% call dashedLine() %}
        {% endcall %}
        {% call contentLayoutText() %}
            Tell Luna Nebulizer where it should be connected to by fill fields below.
        {% endcall %}
        {% set passwordIcon = configuration_page['password_hidden'] %}
        {% call contentLayout() %}
            <form action="" method="post" class="w-full flex flex-col gap-y-4">
                {% call inputField('Wi-Fi name', 'wifiname', 'text') %}{% endcall %}
                {% call inputField('Password', 'password', 'password', passwordIcon.svg, passwordIcon.alt) %} {% endcall %}
            </form>
        {% endcall %}
    {% endcall %}
{% endblock %}
